html,
body {
  font-family: "Viga", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #ffffff;
}
.navbar .navbar-brand {
  color: #4357ad;
}

.content {
  text-align: right;
}

.banner {
  background: url(imgs/bookWall.jpg);
  height: 800px;
  color: #ffffff;
}

.blurb {
  padding-top: 300px;
  padding-right: 300px;
  text-align: right;
}
