html,
body,
div,
span,
h1,
i,
ul,
li {
  font-family: "Viga", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}
body {
  background: green;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #313131;
  font-size: 62.5%;
  line-height: 1;
}
h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
  padding: 0.1em 0;
  color: #444;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.navbar {
  background-color: #ffffff;
}
.navbar .navbar-brand {
  color: #4357ad;
}

.navbar .nav-item {
  font-family: "Viga", sans-serif;
}

p {
  display: block;
  font-size: 1.4em;
  line-height: 1.55em;
  margin-bottom: 22px;
  color: #555;
}

a {
  color: #5a9352;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#w {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 45px;
  text-align: center; 
}

#content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#userphoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
#userphoto img {
  display: block;
  padding: 2px;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

#profiletabs {
  display: block;
  margin-bottom: 4px;
  height: 50px;
}

#profiletabs ul {
  list-style: none;
  display: block;
  width: 70%;
  height: 50px;
}
#profiletabls ul li {
  float: left;
}
#profiletabs ul li a {
  display: block;
  float: left;
  padding: 8px 11px;
  font-size: 1.2em;
  font-weight: bold;
  background: #eae8db;
  color: #666;
  margin-right: 7px;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius: 5px;
  -moz-border-radius-bottomleft: 0;
  border-radius: 5px;
  border-bottom-left-radius: 0;
}
#profiletabs ul li a:hover {
  text-decoration: none;
  background: #dad7c2;
  color: #565656;
}

#profiletabs ul li a.sel {
  background: #ffb633;
  border-color: #d1cdb5;
}

.hidden {
  display: none;
}

.Personal {
  border-bottom: 1px solid #d6d1af;
  padding-bottom: 4px;
}

.b {
  display: block;
  font-weight: normal;
  padding: 7px 3px;
  border-top: 1px solid #d6d1af;
  margin-bottom: 5px;
}
.b span {
  float: left;
  width: 250px;
  font-weight: bold;
}
.b span img {
  cursor: pointer;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
